// app global css in SCSS form
div::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

div::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo de la barra */
  border-radius: 8px;
}

div::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la barra */
  border-radius: 8px;
  border: 2px solid #f1f1f1; /* Espacio alrededor de la barra */
}

div::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de la barra al pasar el ratón */
}

/* Estilos para Firefox */
div {
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
  scrollbar-color: #888 #f1f1f1; /* Color de la barra y del fondo */
}

.body-container {
  background-color: #caeef2;
}

.form-dialog {
  border-radius: 20px;
  width: 240px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Sombra */
}

.form-dialog-popup {
  border-radius: 20px;
  width: 180px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Sombra */
}

.header-form-dialog {
  background-color: $primary;
  color: white;
  font-size: medium;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra */
  text-align: center;
}

.field-less-shadow {
  border: 1px solid #e1e1e1; /* Color del borde */
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  padding-left: 8px;
  padding-right: 8px;
}

.field-form-dialog {
  border: 1px solid #a4a4a4; /* Color del borde */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  padding-left: 8px;
  padding-right: 8px;
}
.field-form-dialog-not-padding {
  border: 1px solid #a4a4a4; /* Color del borde */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.q-card-section-form-dialog {
  padding: 8px;
}

.btn-form-dialog {
  background-color: $primary;
  color: white;
  border-radius: 12px;
  font-size: small;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.div-indicator-sm {
  border-radius: 4px;
  background-color: rgb(236, 235, 235);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Sombra */
  padding: 8px;
}

.chip-categoria-asignacion {
  margin: 3px;
}

.chip-field-status {
  padding: 10px;
  width: 100%;
  max-width: 200px;
}

.tab-presupuesto {
  background-color: white;
  border: 1px solid #c9c8c8; /* Color del borde */
  padding: 2px 16px 2px 16px;
  margin: 4px;
  font-size: 14px;
  border-radius: 12px;
  cursor: pointer;
}

.tab-presupuesto-activo {
  background-color: $primary;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3); /* Sombra */
  color: white;
  padding: 10px;
  margin: 4px;
  font-size: 14px;
  border-radius: 12px;
  padding: 2px 16px 2px 16px;
  cursor: pointer;
}

.card-title {
  background-color: $primary;
  color: white;
}

.scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-color: #12448a #a6a8e300; /* Firefox */
}

@media (min-width: 1px) {
  .card-asignaciones {
    width: 100%;
  }
}
@media (min-width: 695px) {
  .card-asignaciones {
    width: 49.5%;
  }
}
@media (min-width: 1040px) {
  .card-asignaciones {
    width: 33%;
  }
}
